body{
    background-color: antiquewhite;
}
.container{
    display: grid;
    height: 300px;
    width: 900px;
    border: 2px solid red;
    grid-template-columns: repeat(12,1fr);
    /* grid-template-rows: repeat(6,1fr); */
    gap: 10px;
}
.row1,.row2,.row3{
    border: 1px dotted black;
}
.row1{
    /* grid-column-start:3;
    grid-column-end:8; */
    grid-column: 3/8;
    /* grid-row-start:1;
    grid-row-end:3; */
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}
.row1col1,.row1col2,.row1col3,.row1col4{
    height: 70px;
    border: 3px dotted yellow;
}
.row1col1{
    grid-row: 1/2;
    grid-column: 1/2;
}