.container{
    height: 700px;
    width: 85%;
    background-color: aquamarine;
    border: 2px solid red;
    padding: 50px;
    display: flex;
    /* flex-direction: row-reverse; */
    gap: 20px;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* align-items: center; */
}
.child1,.child2,.child3{
    padding: 4px;
    height: 50%;
    width: 22%;
    border: 2px solid black;
    display: inline-block;
    /* margin-right: 30px; */
}
.child1{
    background-color: antiquewhite;
    display: flex;
    flex-basis: 50%;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
.child11, .child12{
    /* padding: 10px 0; */
    width: 25%;
    border: 2px dotted black;
    background-color: aliceblue;
}
.child12{
    background-color: lightblue;
}
.child11{
    background-color: yellow;
}
.child2{
    background-color:aqua;
}
.child3{
    background-color:yellowgreen;
}


/* .container{
    background-color:antiquewhite;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    border: 2px solid red;
    padding: 5px;

    box-sizing: border-box;
}
div p{
    background-color: aqua;
}
.child{
    height: 90px;
    width: 90px;
    padding: 40px;
    background-color: blueviolet;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px dashed pink;
} */